.secrets {
    list-style-type: none;
    overflow-y: auto;
    height: 100%;

    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        a {
            flex: 1;
        }
        button {
            height: 40px;
            margin: 10px;
        }
    }
}