<form class="secret-form" [formGroup]="secretForm" (submit)="onSubmit($event)">
    <div class="group">
        <label for="name">Secret name</label>
        <input type="text" id="name" formControlName="name">
        <span class="validation-error" *ngIf="secretForm.controls.name.touched && secretForm.controls.name.invalid">this is required field</span>
    </div>
    <div class="group">
        <label for="data">data</label>
        <input type="text" id="data" formControlName="data">
        <span class="validation-error" *ngIf="secretForm.controls.data.touched && secretForm.controls.data.invalid">this is required field</span>
    </div>

    <button >Save Secret</button>
</form>