
.secret-form {
    label, input {
        display: block;
    }

    .group {
        input {
            padding: 5px;
        }
    
        .validation-error {
            color: red;
            font-size: 14px;
        }
    }

    button {
        margin-top: 10px;
    }
}
