<section class="s-secrets">
    <div class="wrapper">
        <div class="box secrets-list">
            <div class="header">
                <h2>Secrets</h2>
                <label for="filter">filter: 
                    <input type="text" id="filter" [formControl]="filter">
                </label>
            </div>
            <div class="secrets-container">
                <app-secrets-list [secrets]="secrets" (deletedSecret)="onDeleteSecret($event)"></app-secrets-list>
            </div>
        </div>
        <div class="box add-secret">
            <h2>Add Secret</h2>
            <app-add-secret (newSecret)="onNewSecret($event)"></app-add-secret>
        </div>
    </div>
</section>