@import 'src/styles/mixins';

.s-secrets {
    height: 100%;

    .wrapper {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;

        .box {
            border: 1px solid rgb(100, 100, 100);
            border-radius: 12px;
            flex: 1;
            padding: 10px;
            min-height: 250px;
            height: 35%;
            margin: 0 10px;
            display: flex;
            flex-direction: column;

            @include for-mobile() {
                width: 95%;
                margin: 5px 0;
            }

            .secrets-container {
                height: 80%;
            }
        }

        @include for-mobile() {
            flex-direction: column;
            width: 100%;
        }
    }
}