
    .secret {
        padding: 10px 0;

        .secret-name {
            text-decoration: underline;
            font-weight: bold;
            font-size: 20px;
        }

        .secret-value {
            font-size: 18px;
        }
    }